@layout('layouts.public')

@section('content')
<section class="bg-black py-5 d-flex align-items-center text-white" style="min-height: 300px">
  <div class="container">
    <h1>Our Team</h1>
  </div>
</section>
@endsection
