import React, { useState } from 'react'
import { Button } from 'antd'

function {{ name }}() {

  const [state, setState] = useState({  })

  return (
    <div>
      {{ name }}
      <Button type="primary">Click Me</Button>
    </div>
  )

}

export default {{ name }}
