@layout('layouts.public')

@section('content')
<section class="bg-black py-5 d-flex align-items-center text-white" style="min-height: 300px">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <h1>App Name</h1>
  </div>
</section>

<section>

</section>

@endsection
