@import "~antd/dist/antd.css";


.logo {
  height: 50px;
}

.filters {
  padding: 10px;
  background-color: white;
  border-top: 1px solid #eee
}

.records {
  padding: 20px
}

.ant-page-header-heading {
  margin-top: 0px
}

.ant-form-item {
  margin-bottom: 10px
}

.ant-form-item-label {
  line-height: 20px
}
