@layout('layouts.public')

@section('content')
<div class="container mt-5">
  <div class="display-4">
    <span>Load Now</span>
  </div>
  <hr>
  <div class="row justify-content-left">
    <div class="card shadow-sm">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>

</div>
@endsection
