<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='email-reset'>
      <h1>PASSWORD RESET REQUEST</h1>
      <h5>Dear {{ name }}</h5>
      <p>We have received your request to reset your password. Please click the link below to complete the reset</p>
      <h4>Please copy your temp password <h2> {{ tempPassword }} </h2></h4>
    </div>
    <div class="email-reset">
      <button type="button" class="btn btn-secondary btn-lg btn-reset-email" >
        <a href={{ link }}>Reset My Password</a>
      </button>
    </div>

  </body>
</html>
