<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React Admin</title>
    {{ style('styles/app') }}
  </head>
  <body>
    @!section('content')
    {{ script('scripts/app') }}
  </body>
</html>
